/* Review.css */

.review-container {
  border: 2px solid #3498db;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.author-name {
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

.rating {
  color: #e44d26;
}

.review-content {
  margin-bottom: 15px;
  font-size: 16px;
}

.expand-button {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition: background-color 0.3s;
}

.expand-button:hover {
  background-color: #45a049;
}

.time-stamp {
  opacity: 0.7;
  font-size: 12px;
  font-style: italic;
}

a.button-style {
  display: inline-block;
  padding: 10px 20px;
  background-color: steelblue;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid steelblue;
  transition: background-color 0.3s;
}

a.button-style:hover {
  background-color: #2e5d8b;
  border: 1px solid #2e5d8b;
}
