/* MovieSlider.style.css */

.carousel-container {
  overflow: hidden;
  height: 440px;
  position: relative;
}

@media (max-width: 480px) {
  .carousel-container {
    height: 300px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
}

/* Add styles for responsive adjustments */
.react-multiple-carousel__arrow {
  background: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem; /* Adjust the font size for the arrows */
}

.react-multi-carousel-dot-list {
  position: absolute;
  bottom: 10px; /* Adjust the bottom spacing for the dots */
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-multi-carousel-dot button {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.react-multi-carousel-dot--active button {
  background-color: #fff;
}
